.bitbadges-logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../images/bitbadges-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    vertical-align: middle;
}

.login-container .bitbadges-logo {
    width: 32px;
    height: 32px;
}
